<div ng-controller="addEditDeviceController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Device Profile</h1>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">


                    <form name="deviceForm" class="container" novalidate>
                        <div layout="row" ng-if="typeAdd">

                            <md-autocomplete class="col-md-5 " flex="100" ng-required="true" md-no-cache="ctrl.config.noCache" md-selected-item="ctrl.config.selectedItem" md-search-text="ctrl.config.searchText" md-selected-item-change="ctrl.selectedItem(item)" md-items="item in ctrl.querySearch(ctrl.config.searchText)"
                                md-item-text="item.Name" md-min-length="0" md-input-name="Name" md-floating-label="User">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.config.searchText" md-highlight-flags="^i">{{item.Name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    ไม่พบข้อมูลที่ตรงกับ "{{ctrl.config.searchText}}"
                                </md-not-found>
                            </md-autocomplete>

                            <md-autocomplete class="col-md-5 " flex="100" ng-required="true" md-no-cache="ctrl.configInventory.noCache" md-selected-item="ctrl.configInventory.selectedItemInventory" md-search-text="ctrl.configInventory.searchText" md-selected-item-change="ctrl.selectedItemInventory(item)"
                                md-items="item in ctrl.querySearchInventory(ctrl.configInventory.searchText)" md-item-text="item.Name" md-min-length="0" md-input-name="Name" md-floating-label="Inventory">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.configInventory.searchText" md-highlight-flags="^i">{{item.Name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    ไม่พบข้อมูลที่ตรงกับ "{{ctrl.configInventory.searchText}}"
                                </md-not-found>
                            </md-autocomplete>

                            <md-input-container class="pl-3 col-md-2 " ng-if="typeAdd">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="ctrl.addDevice()">
                                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Device
                                    </button>
                            </md-input-container>
                        </div>
                    </form>

                    <section class="pt-3" ng-if="typeAdd">
                        <div class="pb-5">
                            <grid-search flex="100" g-option="ctrl.gridOptions" on-callback-del="ctrl.gridCallbackDel">
                            </grid-search>
                        </div>

                        <div class="footer-form-button pt-5" layout="row" layout-align="center center">

                            <md-button type="submit" class="md-raised md-primary" layout="row" layout-align="center center" ng-click="ctrl.saveFormAdd()">
                                Save
                            </md-button>

                            <md-button type="button" class="md-raised md-secondary" layout="row" layout-align="center center" ng-click="ctrl.cancelForm()">
                                Cancel
                            </md-button>
                        </div>

                    </section>

                </div>
            </div>
        </div>


    </div>
</div>