<div ng-controller="addEditDeviceController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Device Profile</h1>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">

                    <section ng-if="typeAdd">
                        <form name="projectForm" class="container" novalidate>
                            <div layout="row">

                                <md-input-container class="col-md-5 ">
                                    <label>Brand</label>
                                    <input name="Brand" ng-model="model.BRAND" ng-required="true" autocomplete="off">
                                </md-input-container>

                                <md-input-container class="col-md-5 ">
                                    <label>Brand</label>
                                    <input name="Brand" ng-model="model.BRAND" ng-required="true" autocomplete="off">
                                </md-input-container>

                                <md-input-container class="pl-3 col-md-2 " ng-if="typeAdd">
                                    <button type="submit"
                                        class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                                        ng-click="ctrl.addDevice()">
                                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Device
                                    </button>
                                </md-input-container>
                            </div>
                        </form>

                        <section class="pt-3">
                            <div class="pb-5">
                                <grid-search flex="100" g-option="ctrl.gridOptions"
                                    on-callback-del="ctrl.gridCallbackDel">
                                </grid-search>
                            </div>

                            <div class="footer-form-button pt-5" layout="row" layout-align="center center">

                                <md-button type="submit" class="md-raised md-primary" layout="row"
                                    layout-align="center center" ng-click="ctrl.saveForm()">
                                    Save
                                </md-button>

                                <md-button type="button" class="md-raised md-secondary" layout="row"
                                    layout-align="center center" ng-click="ctrl.cancelForm()">
                                    Cancel
                                </md-button>
                            </div>

                        </section>
                    </section>
                </div>
            </div>
        </div>


    </div>
</div>