/*
// ----- fix kendo ui
*/

//- kendo-grid
div[kendo-grid] {
    .k-grid-header {
        padding-right: 0px !important;
    }
    .k-grid-content {
        overflow-y: auto !important;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        colgroup {
            col {}
        }
        thead {
            background-color: $color-1;
            tr {
                &:hover {
                    background-color: rgba( $color-5, .0) !important;
                }
                th {
                    background-color: $color-1 !important;
                    text-align: center !important;
                    padding: 0px 1rem 0px 1rem !important;
                    color: $color-8 !important; // border: none !important;
                    border-color: rgba( $color-5, .3);
                    font: {
                        size: $grid-FontSize-1 !important;
                    }
                    a {
                        color: $color-8 !important;
                    }
                }
            }
        }
        tbody {
            color: $color-1 !important;
            tr {
                @include odd() {
                    td {
                        background-color: $grid-color-1 !important;
                    }
                }
                @include even() {
                    td {
                        background-color: $grid-color-2 !important;
                    }
                }
                td {
                    // border: none !important;
                    border-left: 1px solid rgba( $color-5, .3);
                    padding: 0px 1rem !important;
                    @include first(1) {
                        text-align: center;
                    }
                }
            }
        }
    } // grid footer
    .k-pager-info {
        display: none;
    }
    .k-pager-wrap {
        padding: 0px !important;
        float: right;
        margin-top: 10px;
        .k-link {
            min-width: auto !important;
            padding: 0px 2px !important;
            margin-top: -1px;
            margin: 0px 11px;
            height: 35px;
            line-height: initial;
            border-color: transparent;
            font: {
                size: rem-calc(26px);
                family: $main-fontBold;
            }
        }
        .k-pager-nav {
            background-color: $color-1;
            color: $color-8;
            margin-top: -1px;
            margin: 0px 3px;
            .k-icon {
                opacity: 1;
                font: 30px/1 'WebComponentsIcons';
            }
        }
        .k-pager-numbers {
            .k-state-selected {
                min-width: 20px;
                min-height: 35px;
                padding: 1px 9px;
                background-color: $color-1;
                color: $color-8;
                margin-top: auto;
                line-height: initial;
                border-width: 0px;
                font: {
                    size: rem-calc(26px);
                }
            }
        }
    }
}

.k-grid {
    td {
        line-height: normal;
    }
}

.k-widget {
    border: none !important;
}

.k-pager-first,
.k-pager-last {
    display: none;
}

// ---------------------------------------------------
//- kendo-scheduler
div[kendo-scheduler].k-scheduler {
    color: #222;
    background-color: transparent;
    border-bottom: 1px solid #e6e6e6 !important;
    .k-header {
        background-color: transparent;
        li {
            border-color: transparent;
        }
        .k-link {
            color: #747474;
            font-size: 1.5rem;
            background-color: transparent;
            line-height: normal;
            padding: 0;
            &:hover {
                color: #222;
            }
        }
    }
    .k-scheduler-toolbar {
        line-height: normal;
        padding-bottom: 10px;
        padding-left: 22px;
        padding-right: 0px;
        ul {
            li {
                background: #f2f2f2;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0px 15px;
                border-radius: 2px;
                &:hover {
                    background: #f8f8f8;
                    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
                    border: 1px solid #c6c6c6;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    .k-link {
                        color: #222;
                    }
                }
                &.k-nav-today {
                    margin-right: 15px;
                    text-transform: capitalize;
                }
                &.k-nav-prev {
                    border-radius: 2px 0px 0px 2px;
                    border-right: none;
                }
                &.k-nav-next {
                    border-radius: 0px 2px 2px 0px;
                }
                &.k-nav-current {
                    background-color: transparent;
                    border: none;
                    margin: 0 30px;
                    .k-link {
                        color: #222;
                    }
                }
            }
        }
        ul.k-scheduler-views {
            li {
                text-transform: capitalize;
                @include after-first(2) {
                    border-left: none;
                }
                @include all-but-first-last(1) {
                    border-radius: 0px;
                }
            }
            li.k-state-selected {
                border-bottom: 1px solid #00b0ff !important;
                box-shadow: inset 0 2x 4px rgba(0, 0, 0, 0.1);
                .k-link {
                    color: #222;
                }
            }
            li.k-state-hover {
                .k-link {
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
    table.k-scheduler-layout {
        color: #555;
        font-size: 1rem;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        .k-state-selected {
            background-color: #b8c0c7;
            color: $color-11;
            box-shadow: none;
            .k-link {
                color: $color-11;
            }
        }
        .k-scheduler-header {
            color: #333;
            font-size: 1.25rem;
        }
        .k-other-month {
            .k-nav-day {
                color: #d4d4d4;
            }
        }
        .k-scheduler-content {
            .k-event {
                background-color: #435369;
                border-color: $color-12;
                .custom-event {
                    position: absolute;
                    top: 2px;
                }
                .k-event-actions {
                    top: 1px;
                    .k-link {
                        color: $color-18;
                    }
                }
                .k-event-actions:first-child {
                    margin-top: 0; // visibility: hidden;
                }
            }
            .k-more-events {
                span {
                    margin-top: 0;
                }
            }
        }
    }
    table.k-scheduler-table {
        .k-today {
            background: #9ba0a5;
            border: 1px solid $color-1;
        }
    }
    table.k-scheduler-dayview {
        .k-scheduler-header-wrap {
            .k-event {
                background-color: #435369;
                border-color: $color-12;
                .k-event-actions {
                    top: 0px;
                    .k-link {
                        color: $color-18;
                    }
                }
            }
        }
    }
    .k-window-titlebar {
        border-radius: 0;
        .k-header {
            background-color: #326499;
        }
        .k-window-title {
            font-size: 1.75rem;
            top: 4px;
            left: 15px;
        }
        .k-window-actions {
            right: 10px;
        }
    }
    .k-window-content {
        .k-dropdown,
        .k-datepicker {
            width: 100%;
        }
        .k-popup-message {
            padding: 15px;
            min-height: 85px;
            text-align: center;
            position: relative;
            font: {
                size: rem-calc($header-FontSize-2) !important;
            }
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .k-list {
        .k-state-selected {
            &.k-state-focused {
                color: #4d4d4d;
            }
        }
        .k-item {
            background-color: transparent;
            font: {
                family: $main-fontNormal;
                size: rem-calc($content-FontSize-1);
            }
            min-height: auto !important;
            line-height: normal !important;
        }
    }
    .k-picker-wrap,
    .k-dropdown-wrap {
        padding: 0 2.0em 0 0;
        border-top: none;
        border-left: none;
        border-right: none;
        &.k-state-default {
            background-color: transparent;
            color: rgba(77, 77, 77, 1);
            border-color: rgba(0, 0, 0, 0.12);
            font: {
                family: $main-fontNormal;
                size: rem-calc($content-FontSize-1);
            }
            background-color: transparent;
            color: rgba(77, 77, 77, 1);
            font: {
                family: $main-fontNormal;
                size: rem-calc($content-FontSize-1);
            }
            .k-select {
                border: none;
            }
        }
        &.k-state-hover,
        &.k-state-focused {
            box-shadow: none;
        }
        .k-select {
            line-height: normal;
            width: 40px;
            min-height: 37px;
        }
        &:before {
            padding-bottom: 0 !important;
        }
        .k-input {
            height: 2.2rem;
            line-height: normal;
            background-color: transparent;
            text-indent: 4px;
            padding: 0;
        }
    }
    .k-datepicker,
    .k-dropdown {
        background-color: transparent;
    }
    .k-dropdown-wrap {
        padding: 0 40px 0 0;
    }
    .k-edit-form-container {
        .k-edit-buttons {
            background-color: transparent;
            border: none;
            padding: 0px 0 15px 0;
            flex-direction: row;
            display: flex;
            align-items: center;
            align-content: center;
            max-width: 100%;
            justify-content: center;
            .k-button {
                background: {
                    color: $color-2;
                }
                color: $color-8;
                border: {
                    radius: 8px;
                }
                min-height: 38px;
                min-width: 112px;
                max-height: 38px;
                max-width: 112px;
                font: {
                    size: rem-calc($content-FontSize-1);
                }
                line-height: normal;
                padding: 0px 0px;
                transition: all 0.2s;
                &:hover {
                    color: $color-8;
                    background: {
                        color: lighten($color-2, 5%);
                    }
                }
                &.k-scheduler-update {
                    order: 1;
                }
                &.k-scheduler-cancel {
                    order: 2;
                    background: {
                        color: $color-7;
                    }
                    color: $color-2;
                    &:hover {
                        background: {
                            color: darken($color-7, 5%);
                        }
                    }
                }
                &.k-scheduler-delete {
                    order: 0;
                    background: {
                        color: darken($color-7, 30%);
                    }
                    &:hover {
                        background: {
                            color: darken($color-7, 35%);
                        }
                    }
                }
            }
        }
        .k-button:focus,
        .k-button:focus:not(.k-state-disabled):not([disabled]) {
            box-shadow: none;
        }
    } // ---------------------------------------------------
    //- kendo k-editor
    .wiki-editor,
    .event-editor {
        .k-combobox .k-dropdown-wrap:before,
        .k-picker-wrap:before,
        .k-numeric-wrap:before {
            height: 1rem;
        }
        .k-colorpicker .k-picker-wrap {
            line-height: normal;
        }
        .k-picker-wrap .k-select,
        .k-numeric-wrap .k-select,
        .k-dropdown-wrap .k-select {
            min-height: auto;
            line-height: normal;
        }
        .k-combobox-clearable .k-input {
            height: auto;
        }
        .k-dropdown-wrap .k-input {
            line-height: normal;
            height: auto;
            color: #444;
        }
        span[title="Format"] {
            width: 160px !important;
        }
        .k-combobox {
            width: 12.0rem;
            margin-right: 3px;
            .k-dropdown-wrap {
                .k-i-close {
                    right: 1.8rem;
                    font-size: 14px;
                }
            }
        }
    }
    .k-editor {
        .k-editor-toolbar-wrap {
            background-color: #e6e6e6;
            padding-bottom: 2px;
        }
    }
    .k-editor-toolbar {
        line-height: normal;
        .k-button-group {
            .k-tool {
                width: 40px;
                height: 40px;
            }
        }
        .k-editor-dropdown {
            background-color: #fff;
        }
    }
}

.k-editor-toolbar-wrap {
    .k-editor-dropdown,
    .k-combobox {
        .k-dropdown-wrap,
        .k-picker-wrap {
            height: 37px;
            >.k-i-close {
                right: 25px;
            }
            .k-input {
                height: auto;
            }
            .k-select {
                width: 15px;
                position: absolute;
                right: 3px;
                min-height: auto;
            }
        }
    }
    .k-combobox .k-dropdown-wrap:before,
    .k-picker-wrap:before,
    .k-numeric-wrap:before {
        height: auto !important;
    }
}

.k-window-content {
    span.k-datepicker,
    span.k-dropdown {
        width: 100%;
        background-color: transparent;
        .k-input {
            background-color: transparent;
        }
    }
    .k-picker-wrap,
    .k-dropdown-wrap {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        font-family: "THSarabunPSK";
        font-size: 1.6875rem;
        line-height: normal;
        height: 35px;
        &.k-state-hover {
            box-shadow: none;
        }
        &.k-state-focused {
            box-shadow: none;
            border-bottom: 2px solid rgba(63, 81, 181, 1);
        }
        .k-input,
        .k-select {
            padding: 0;
            text-indent: 3px;
            height: 35px;
            line-height: normal;
        }
        .k-select {
            width: auto;
            border: none;
        }
    }
}

.k-window-titlebar {
    padding: 5px 0px 15px 0px;
    .k-window-title {
        // font-family: "THSarabunPSK";
        font-size: 1.6875rem;
        padding: 0;
    }
}

.k-edit-form-container {
    .k-edit-buttons {
        border-style: none;
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        .k-scheduler-update,
        .k-scheduler-cancel,
        .k-scheduler-delete {
            border: {
                radius: 8px;
            }
            border: none;
            min-height: 38px;
            min-width: 112px;
            font: {
                size: rem-calc(22px);
            }
        }
        .k-scheduler-update {
            background: {
                color: $color-2;
            }
            color: $color-8;
        }
        .k-scheduler-cancel {
            background: {
                color: $color-7;
            }
            color: $color-2;
        }
        .k-scheduler-delete {
            background: {
                color: #000000;
            }
            color: $color-8;
        }
    }
}

.k-popup {
    .k-list {
        .k-item {
            font-family: "THSarabunPSK";
            font-size: 1.6875rem;
        }
    }
}