<div ng-controller="accountController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
    </div>



    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="container">
                        <md-content layout-padding>
                            <div>
                                <form name="userForm" novalidate>

                                    <div layout-gt-xs="row">
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>ID</label>
                                            <input ng-model="modelSave.EMPLOYEE_CODE" ng-disabled="true">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Name</label>
                                            <input ng-model="modelSave.NAME" ng-disabled="true">
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Department</label>
                                            <input ng-model="modelSave.DEPARTMENT" ng-disabled="true">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Location</label>
                                            <input ng-model="modelSave.LOCATION" ng-disabled="true">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>E-Mail</label>
                                            <input type="email" ng-model="modelSave.EMAIL" ng-disabled="false" required>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Nickname</label>
                                            <input ng-model="modelSave.NICKNAME" ng-disabled="false">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>IP Address</label>
                                            <input ng-model="modelSave.IPAddress" ng-disabled="false">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Tel.</label>
                                            <input type="call" name="Tel" ng-model="modelSave.TEL" ng-disabled="false" autocomplete="off">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Password</label>
                                            <input type="password" ng-model="modelSave.PASSWORD" ng-disabled="false" required>
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>New Password</label>
                                            <input type="password" ng-model="modelSave.NEW_PASSWORD" ng-disabled="false">
                                        </md-input-container>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Confirm Password</label>
                                            <input type="password" ng-model="modelSave.CON_PASSWORS" ng-disabled="false" ng-required="modelSave.NEW_PASSWORD">
                                        </md-input-container>
                                    </div>



                                    <div class="footer-form-button" layout="row" layout-align="center center">
                                        <md-button type="submit" class="md-raised md-primary" layout="row" layout-align="center center" ng-click="saveForm()">
                                            Save
                                        </md-button>

                                    </div>
                                </form>

                            </div>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>