.md-label {
    padding-right: 30px;
    margin-left: 2px;
    font-size: 26px;
}

.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
}

md-radio-button {
    .md-on {
        background-color: rgb(63, 81, 181);
        border-color: #808285;
        top: -16px;
        left: -16px;
        width: 60px;
        height: 60px;
    }
    .md-off {
        background-color: white;
        border-color: #808285;
        width: 28px;
        height: 28px;
    }
}

md-input-container {
    label {
        color: black;
    }
    &.md-input-has-value {
        color: black;
    }
}