<div ng-controller="addEditInventoryController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">IT Inventory</h1>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <grid-search flex="100" g-option="ctrl.gridOptions">
                </div>
            </div>
        </div>


    </div>
</div>